body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8fb9c9c6;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    color: #333;
}

h2 {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.info, .contact {
    margin-bottom: 20px;
}

.contact p {
    margin: 5px 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #777;
}
